<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.sortfigurines"
        versionCode = "1" 
        version     = "1" >

    <!-- versionCode is optional and Android only -->

    <name>Sort Figurines by Barcode</name>

    <description>
        Find sort collections of figurines using barcodes, hopefully export to csv to be imported to Google docs. 
    </description>
    

    <author href="https://build.phonegap.com" email="johnflottmeyer@gmail.com">
        John Flottmeyer
    </author>
    <gap:platform name="ios" />
    
    
    <!-- third party plugins -->
	<gap:plugin name="cordova-plugin-statusbar" source="npm" />
    <plugin name="phonegap-plugin-barcodescanner"/>
    
    <!-- universal preferences -->
    <preference name="phonegap-version" value="cli-6.5.0"/> 
    <preference name="orientation" value="portrait" /> 
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="false" />
    <preference name="webviewbounce"    value="false" />
    
    <!--<preference name="fullscreen"                 value="true" />-->
    <preference name="fullscreen" value="false" />
    
    <!-- ios preferences --> 
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="StatusBarBackgroundColor" value="#000000" />
    
    <feature name="StatusBar">
        <param name="ios-package" value="CDVStatusBar" onload="true" />
    </feature>
    
    <gap:config-file platform="ios" parent="ITSAppUsesNonExemptEncryption" mode="add">
		<false/>
	</gap:config-file>

</widget>
